.content
	.container
		h1 How to order
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				h3 Order free sample
				p We have an order form for each type of hair product.<br>Please, specify in your comments if you want to get a free sample of this type of extensions. We can send only one type of products for free as a sample.  If you want to get samples of all types of our products you can make a trial order (link).
				h3 Order different products
				p Please, create your wholesale order  and attach the file to the order form.<br>You will find all the additional information in the sample order:
				ul.list-marked
					li example of how to fill out the order
					li list of products with prices, their lengths and colors
			.block-wrap__item.block-wrap__item_300
				.how-to-order__download.block-marked
					p
						strong Download sample wholesale order<br>
						a(href='') Download
		h3 What to specify in “comments” to the order
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p Detailed description of the order will help us to more accurately and quickly calculate the payment amount.
				ol.list-numbered 
					li Specify which type of extensions you are interested in, lengths, colors, quantities.
					li Specify the delivery address. We will contact you and tell you the cost of delivery
					li If you want to become a distributor or a wholesale customer - please, specify this in your order  and we will send you our wholesale terms and conditions
					li You feel more comfortable communicating with Russian or English speaking manager. Please, specifiy this in your order.
				p Push “<strong>Order</strong>” to send an order
				p <strong>Your order is created!</strong> Please, wait till our manager contacts you. The order processing time depends on the number of orders being processed at the moment and working hours (we are ready to answer you daily from 10am till 9 pm UTC+3 msk time). 
			.block-wrap__item.block-wrap__item_300
				img(src='/assets/images/how-to-order/screenshot.jpg' alt='')
		h3 100% order prepayment
		p We will confirm the order and send you the invoice. After the payment is received we will send the order via the shipment company.<br>We will send you the tracking number to the e-mail address that you specified in your order form.
		h2 Retail purchase
		p When ordering specify that you are buying extensions for yourself and we will help you to find the exact hair color.  For that attach your photo to the order form. Please, make sure that the color of your own hair is very well seen on the photo.
		p Do you use Facebook? Please, contact our specialist through Facebook if you have suitable photos on your FB page.
		p
			a(href='https://www.facebook.com/' target='_blank').facebook-link russian-hair
		+more-info