.content
	.container
		h1 About us
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p Welcome to www.russian-hair.org.  My name is Olga Leytes. I am a General Director and founder of Volosy 24 Ltd., a manufacturer and seller of hair for extensions and wig making.
				h2 The history of our company started with Chinese hair and our experience with it
				p For several years we worked with Chinese factories supplying human hair products to Russia (including extensions). Unfortunately, we faced the fact that the quality of products that we were receiving was not stable. No one could guarantee that the quality of our next purchase would be the same as of the previous one.
					span.marked Facing the problem of unstable quality we were looking for improvements.
					| Since we always wanted to provide our clients with the best possible quality we started to look for ways of solving the problem.  We spent months on studying and analyzing the quality problem with hair and came to the conclusion that to solve it we need to control every stage of the production process: from evaluating the raw hair quality to the final processing phase. During this time we saw a lot of problems which can arise when the production technology is not followed properly. Now we had to learn how to prevent them.
			.block-wrap__item.block-wrap__item_300
				figure
					img(src='/assets/images/about/leytes.jpg' alt='')
					figcaption Olga Leytes, CEO russian-hair.org
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				h2 We contacted the only training company in the world which provided professional on-site training teaching how to select, process and color human hair  - and we learnt how to do it.
				p We contacted the only company in the world specialized in complex training in the area of human hair processing  and wig making. During three weeks from morning till night our specialists studied the subtleties and secrets of this craft on-site, really making things with their own hands. Our previous practical experience really served us well. Having received the international certificate we were ready to start.
				h2 We manufacture natural human hair extensions since 2008
				p We 
					a(href='') manufacture
					|  and offer  natural human hair which you can buy by wholesale and  by retail. We offer 47 shades: wide range of blonds, red, dark, etc. Lengths up to 80 cm.
					span.marked Now let us tell you about the hair processing.
					| When we receive raw hair from suppliers we carefully study every bundle with respect to short hairs (less than 20 cm) inside the bundle, hair ends density, reversed hairs (with the reversed direction from roots to ends). At this stage the checking is mostly visual. But expereinced specialists can discard bad quality hair even now.
				p Then chemistry comes first.The most of the discarding takes place at this stage. At bleaching reversed hair or hair which was colored before immediately shows up.The reversed hair is immediately discarded and is excluded from the further process.
					Sorting by lengths is a very painstaking process fulfilled manually. Getting to know  and understand it properly one can understand why long hair (starting with 60 cm) with good ends 
			.block-wrap__item.block-wrap__item_300
				img(src='/assets/images/about/1.jpg' alt='')
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_460
				h2 Checked the final product
				p Though human hair products are not subject to mandatory certification according to the Russian Federation legislation we voluntarily addressed the RF Committee for Health and Sanitaty Control for holding a number of tests which showed that our products correspond to all the sanitary standards in the Russian Federation
			.block-wrap__item.block-wrap__item_460
				h2 Training new specialists
				p We train hairdressers in hair extension technology and wig making. We are ready to share our knowledge in this sphere. We receive hair specialists from other cities of Russia who want to improve their knowledge about human hair and extension technologies and are ready to become our regional distributors
				p
					strong If you want to get trained,<br>
					|  send us your application to 
					a(href='mailto:market@russian-hair.org ') market@russian-hair.org 
					| <br>(training is provided generally in Russian, but we can arrange a translator for you if need be)
		.block-wrap.block-marked.block-wrap_margin-bottom-50
			.block-wrap__item.block-wrap__item_440
				img(src='/assets/images/about/2.jpg' alt='')
			.block-wrap__item.block-wrap__item_440.block-wrap.block-wrap-column.block-wrap_justify-space-between
				.block-wrap__item
					p Volosy 24. Ltd. (russian-har.org) invites beauty parlors, hairdressers and extension technologists for cooperation.
					p We offer a flexible discount system for human hair extensions and tools.
				.block-wrap__item
					a(href='wholesale.html').btn Become a distributor
		h2
			a(href='reviews.html') Истории наших клиентов
		+slider-placeholder-feedback
		+more-info
		