.content
	.container
		h1 Payment Security Information
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p Upon the order confirmation we will send you an invoice for payment.
					| <br>
					strong We accept rubles, USD and euros. 
				p When ordering, please, specify which of these currencies are preferable for you. The payment can be made via PayPal system or by bank transfer to our bank account in Russia.
			.block-wrap__item.block-wrap__item_300.block-wrap.block-wrap_justify-center.block-wrap_align-flex-start
				img(src='/assets/images/pp-logo-200px.png')
		+more-info