.content
	.container
		h1 Duties and Taxes
		.block-wrap
			.block-wrap__item.block-wrap__item_680
				p Our prices do not include duties and taxes to be paid on the territory of your country.
				p When receiving the shipment you will have to clear the customs and pay duties according to the legislation of your country. The amounts of these payments depend on the type of shipment and the declared invoice.
				p We will help you to find out the size of your custom duties.<br>Please, address us at 
					a(href='mailto:market@russian-hair.org') market@russian-hair.org
		+more-info