.content
	.container
		h1 Delivery
		p We deliver throughout the world via shipment companies.
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				h2 Calculate the time and cost of delivery
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/ups.png' alt='')
					.delivery-row__text
						h3 UPS
						a(href='https://wwwapps.ups.com/ctc/request?loc=en_RU&WT.svl=PNRO_L1' target='_blank') english language
						a(href='https://wwwapps.ups.com/ctc/request?loc=ru_RU&WT.svl=PNRO_L1' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/fedex.png' alt='')
					.delivery-row__text
						h3 FedEx
						a(href='https://www.fedex.com/ratefinder/home?cc=ru&language=en' target='_blank') english language
						a(href='https://www.fedex.com/ratefinder/home?cc=ru&language=ru' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/ems.png' alt='')
					.delivery-row__text
						h3 EMS
						a(href='http://www.emspost.ru/ru/calc/' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/cse.png' alt='')
					.delivery-row__text
						h3 CSE
						a(href='http://www.cse.ru/sitecontent/city-mosrus/lang-eng/content/131/' target='_blank') english language
						a(href='http://www.cse.ru/sitecontent/city-mosrus/lang-rus/content/131/' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/dhl.png' alt='')
					.delivery-row__text
						h3 DHL
						a(href='https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions' target='_blank') english language
						a(href='https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions' target='_blank') russian language
				p Please, use the web-site of shipment company to track your order. When your order is confirmed and paid we will send you the tracking number by e-mail. How to track your order in detail.
				p
					img(src='/assets/images/zaglooshkah.jpg' alt='')
				p When completing the order we get every hair strand into individual packaging. The package is carefully closed and sealed. You can be sure that your order will arrive safe and sound and with it you will receive our warm wishes and great quality products.
			.block-wrap__item.block-wrap__item_300
				h3 How to find out the weight of your order?
				p When ordering for 1000$ - 25% discount, you pay 750$<br>(about 0,6 kg of hair in bundles or approximately 680 pre-bonded hair strands or about 200 tape extensions).
				p When ordering for 2310$ - 30% discount, you pay 1617$<br>(about 1,4 kg of hair in bundles,  or approximately  1600 pre-bonded hair strands, or about 450 tape extensions)
				p When ordering for 3080$ - 35% discount, you pay 2002$<br>(about 1,8 kg of hhair in bundles, or approximately 2120 pre-bonded hair strands, or about 600 tape extensions).
				p
					strong Add the weight of packaging
					|  - 300 g
				h3 Which volume of shipment to specify?
				p The average shipment volume os about 0,2 m².
				h3 Shipment location
				p Russia. St. Petersburg<br>Postal code 197000
		+more-info