.breadcrumbs
	padding-top 22px
	padding-bottom 25px
	display flex
	justify-content center
	ul
		display flex
	&__item
		position relative
		padding-right 4px
		font-size 12px
		font-weight 500
		&::after
			display inline-block
			content '>'
		a
			color #b0986e
		&-active
			color #444447
			&::after
				content none
			