nav.navigation-top
	.container
		ul.navigation-main
			li.navigation-main__element
				a(href='product-guide.html') Product guide
				ul.navigation-submenu
					li.navigation-submenu__element.active
						a(href='product-detail.html') Russian slavic hair in bulk
					li.navigation-submenu__element
						a(href='') Russian slavic hair pre-bonded
					li.navigation-submenu__element
						a(href='') Russian slavic tape hair
					li.navigation-submenu__element
						a(href='') Palette
			li.navigation-main__element
				a(href='price.html') Price
			li.navigation-main__element
				a(href='customer.html') Customer service
				ul.navigation-submenu
					li.navigation-submenu__element
						a(href='howtoorder.html') How to order
					li.navigation-submenu__element.active
						a(href='delivery.html') Delivery information
					li.navigation-submenu__element
						a(href='payment.html') Payment Security Information
					li.navigation-submenu__element
						a(href='warranty.html') Product Warranty
					li.navigation-submenu__element
						a(href='faq.html') FAQ
					li.navigation-submenu__element
						a(href='duties-and-taxes.html') Duties and Taxes
					li.navigation-submenu__element
						a(href='order-tracking.html') Order tracking
			li.navigation-main__element
				a(href='about.html') About us
				ul.navigation-submenu
					li.navigation-submenu__element
						a(href='manufacturing.html') Manufacturing
					li.navigation-submenu__element
						a(href='reviews.html') Reviews
					li.navigation-submenu__element
						a(href='sertificates.html') Sertificates
			li.navigation-main__element
				a(href='wholesale.html') Become a wholesale
			li.navigation-main__element
				a(href='contacts.html') Contact