.navigation
	&-top
		background-color #fff
	&-main
		margin-left 71px
		display flex
		justify-content space-between
		height 46px
		&__element
			position relative
			padding-y(16px)
			text-align center
			a
				font-size 17px
				text-decoration none
				color #444447
				&:hover
				&:focus
					color #b0986e
				&:active
					color #828282
			&:hover
				.navigation-submenu__element
					height 46px
					&:first-child::before
						border-bottom-width 10px
						
	&-submenu
		position absolute
		z-index 999
		top 46px
		background-color #dfd3b4
		&__element
			overflow-y hidden
			height 0
			transition height .2s
			&:first-child::before
				position absolute
				top -10px
				left 40px
				content ''
				border-top 0 solid transparent
				border-left 5px solid transparent
				border-right 5px solid transparent
				border-bottom 0 solid #dfd3b4
			&.active:first-child::before
				border-bottom-color #b0986e
			&:not(.active):first-child:hover::before
				border-bottom-color #cab890
			a
				padding-x(20px)
				padding-y(16px)
				display inline-block
				width 100%
				vertical-align middle
				white-space nowrap
				&:hover
				&:focus
				&:active
					color #444447
					background-color #cab890
			&.active > a
				background-color #b0986e
				
					
				