.content
	.container
		h1 Hair for extensions in bundles
		.block-wrap.block-wrap_margin-bottom-50.product-detail__block
			.block-wrap__item.block-wrap__item_380
				.product-detail__images
					.product-detail__main-image
						img(src='/assets/images/product-detail/1.jpg' alt='')
					ul.product-detail__images-switcher.block-wrap
						li.block-wrap__item
							img(src='/assets/images/product-detail/2.jpg' alt='')
						li.block-wrap__item
							img(src='/assets/images/product-detail/3.jpg' alt='')
						li.block-wrap__item
							img(src='/assets/images/product-detail/4.jpg' alt='')
			.block-wrap__item.block-wrap__item_540
				.block-wrap.block-wrap_justify-space-between.block-wrap_margin-bottom-25.block-marked.product-detail__top
					ul.block-wrap__item.product-detail__link-list
						li
							a(href='#product-detail__color') Choose color
						li
							a(href='#product-detail__size') Choose size
						li
							a(href='#product-detail__price') Show price
					.block-wrap__item.block-wrap__item_160
						a(href='#product-detail__order-form').btn Order now
				.product-detail__description
					p Hair in bundles can be used both for making extensions and for other hair products making (wigs, for example). For our extensions we use only 100% human hair . All the hair is selected and collected into bundles depending on its strucrue and color.
					p Hair in bundles is single drawn, which means that there are hairs of different lengths in one bundle. Hair ends are light as if thinned out a little bit and look very natural. Such hair will also look very natural on the client’s head as her own long hair. If you want to have long have and are keen on looking natural  single drawn type is your choice.
					p Each bundle contains 100-110 grams of hair which is in average enough for one head of extensions. We provide a broad selection of lengths and colors.
					p Our hair is bleached and colored very carefully with preserved cuticles and hair structure. We do not process our hair  with silicone-containing products so it does not have the unnatural brilliance which goes off after the first shampoo wash.
		h2#product-detail__color 47 colors
		img(src='/assets/images/slider-placeholder/product-colors.png' alt='')
		h2 Structure: straight or slightly wavy
		.block-wrap.block-wrap_justify-space-around.block-wrap_margin-bottom-50.product-detail__block
			.block-wrap__item
				img(src='/assets/images/product-detail/structure-straight.jpg' alt='')
			.block-wrap__item
				img(src='/assets/images/product-detail/structure-wavy.jpg' alt='')
		h2#product-detail__price Price per unit 
			span.h2-subheader 100 g
		.block-wrap.block-wrap_margin-bottom-50
			.block-wrap__item_620
				.price-block
					.price-block__currencies
						span Select currency:
						ul.price-block__currencies-list
							li.price-block__currency-title(data-currency='euro') €
								span Euro
								|  (EUR)
							li.price-block__currency-title(data-currency='dollar') $
								span Dollar
								|  (USD)
					table.price-block__currency-table(data-currency='euro')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td EUR, price for 100 gr
							td EUR, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 140 €
							td 112 €
						tr
							td 45 cm<br>(18” inch)
							td 147 €
							td 118 €
						tr
							td 50 cm<br>(20” inch)
							td 155 €
							td 124 €
						tr
							td 55 cm<br>(22” inch)
							td 171 €
							td 137 €
						tr
							td 60 cm (24” inch)<br>dark colors
							td 185 €
							td 148 €
						tr
							td 60 cm (24” inch)<br>light colors
							td 191 €
							td 153 €
						tr
							td 65 cm (26” inch)<br>dark colors
							td 190 €
							td 152 €
						tr
							td 65 cm (26” inch)<br>light colors
							td 196 €
							td 157 €
						tr
							td 70 cm (28” inch)<br>dark colors
							td 215 €
							td 172 €
						tr
							td 70 cm (28” inch)<br>light colors
							td 222 €
							td 178 €
						tr
							td 75 cm (30” inch)<br>dark colors
							td 220 €
							td 176 €
						tr
							td 75 cm (30” inch)<br>light colors
							td 227 €
							td 182 €
						tr
							td 80 cm (32” inch)<br>dark colors
							td 225 €
							td 180 €
						tr
							td 80 cm (32” inch)<br>light colors
							td 232 €
							td 186 €
						tr
							td 85 cm (34” inch)<br>dark colors
							td 231 €
							td 185 €
						tr
							td 85 cm (34” inch)<br>light colors
							td 238 €
							td 190 €
					table.price-block__currency-table(data-currency='dollar')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td USD, price for 100 gr
							td USD, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 149 $
							td 119 $
						tr
							td 45 cm<br>(18” inch)
							td 156 $
							td 125 $
						tr
							td 50 cm<br>(20” inch)
							td 165 $
							td 132 $
						tr
							td 55 cm<br>(22” inch)
							td 181 $
							td 145 $
						tr
							td 60 cm (24” inch)<br>dark colors
							td 196 $
							td 157 $
						tr
							td 60 cm (24” inch)<br>light colors
							td 203 $
							td 162 $
						tr
							td 65 cm (26” inch)<br>dark colors
							td 201 $
							td 161 $
						tr
							td 65 cm (26” inch)<br>light colors
							td 208 $
							td 166 $
						tr
							td 70 cm (28” inch)<br>dark colors
							td 228 $
							td 182 $
						tr
							td 70 cm (28” inch)<br>light colors
							td 236 $
							td 189 $
						tr
							td 75 cm (30” inch)<br>dark colors
							td 234 $
							td 187 $
						tr
							td 75 cm (30” inch)<br>light colors
							td 241 $
							td 193 $
						tr
							td 80 cm (32” inch)<br>dark colors
							td 239 $
							td 191 $
						tr
							td 80 cm (32” inch)<br>light colors
							td 247 $
							td 198 $
						tr
							td 85 cm (34” inch)<br>dark colors
							td 245 $
							td 196 $
						tr
							td 85 cm (34” inch)<br>light colors
							td 252 $
							td 202 $
			.block-wrap__item_300
		.block-wrap.block-wrap_margin-bottom-50.product-detail__block
			.block-wrap__item.block-wrap__item_620
				mixin wholesale-form()
			.block-wrap__item.block-wrap__item_300
				.product-detail__delivery-payment
					.product-detail__delivery
						p
							strong.font-big Delivery
							a(href='delivery.html') Learn more
							.block-wrap.block-wrap_wrap
								.block-wrap__item
									img(src='/assets/images/delivery/ups.png')
								.block-wrap__item
									img(src='/assets/images/delivery/fedex.png')
								.block-wrap__item
									img(src='/assets/images/delivery/ems.png')
								.block-wrap__item
									img(src='/assets/images/delivery/cse.png')
								.block-wrap__item
									img(src='/assets/images/delivery/dhl.png')
					.product-detail__payment
						p 
							strong.font-big Payment
							a(href='payment.html') Learn more
						p An invoice for payment of the order
			
					
			
			
		