.product-detail
	&__main-image
		margin-bottom 25px
		img
			border 1px solid #828282
	&__images-switcher
		.block-wrap__item
			img
				border 1px solid #828282
	&__images-switcher
		li
			flex calc(340px / 3)
			cursor pointer
	&__top
		.btn
			width 100%
	&__link-list
		li
			margin-bottom 12px
			&:last-child
				margin-bottom 0
		
	&__delivery-payment
		padding 19px 29px
		border 1px solid #eee3c7
		.block-wrap__item
			margin-bottom 20px
			padding 5px
			border 1px solid #c1c1c1
			&:nth-of-type(2n)
				margin-right 0
	&__delivery
		.block-wrap__item
			flex-basis 110px
	&__payment
		p
			margin-bottom 12px
			&:last-child
				margin-bottom 0