include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../wholesale-form/wholesale-form
include ../slider-placeholder/slider-placeholder
include ../about-footer/about-footer
include ../form-condition-for-wholesale/form-condition-for-wholesale

doctype html
html(lang='ru')
	include ../head/head
	+page
		.page
			include ../header/header
			include ../navigation/navigation
			main
				block content
			include ../footer/footer
		+scripts(['app.min.js'])
