.content
	.container
		h1 Manufacturing
		.block-wrap
			.block-wrap__item.block-wrap__item_540
				p
					strong We have been in hair extensions manufacturing business since 2008 in St. Petersburg, Russia
				p Our specialists were trained abroad and received an international level of skills and experience in the area of human hair processing. We can guarantee the hair products quality confirmed by official certificates. All the products manufactured by us pass all the processing stages: mechanic, dyeing, hacklng, drying, etc. All these stages are passed through according to accepted international rules and standards.
				p To offer you beautiful brilliant hair of different lengths and colors specially prepared for extensions we have to work very hard. Hair processing and extensions making skills are acquired in routine manual manipulations which demand much accuracy and attention.
			.block-wrap__item.block-wrap__item_380
				img(src='/assets/images/about/manufacturing/1.jpg')
		h2 Manual production process of hair extensions making
		h3 1. Selecting reliable raw hair suppliers,
		p which allow us to be sure in hair quality. Much depends on the raw hair quality. The difficult thing about selecting raw hair for further processing lies in the fact that visually and manually it is not always possible to determine the quality. Certain manipulations are needed to see what this hair “is capable of”. Much depends on the raw hair quality. The difficult thing about selecting raw hair for further processing lies in the fact that visually and manually it is not always possible to determine the quality. Certain manipulations are needed to see what this hair “is capable of”.Much depends on the raw hair quality.
		h3 2. Bleaching an dyeing 
		p Here comes pure chemistry. A very difficult process which demands constant control and attention. The smallest mistake or neglection can lead to partial of total quality loss.
		p Each hair lot demands indidividual approach. And not only the lot, even each bundle.  Only thus we can be sure in the final result.
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_300
				a(href='').modal
					img(src='/assets/images/about/manufacturing/2.jpg')
			.block-wrap__item.block-wrap__item_300
				a(href='').modal
					img(src='/assets/images/about/manufacturing/3.jpg')
			.block-wrap__item.block-wrap__item_300
				a(href='').modal
					img(src='/assets/images/about/manufacturing/4.jpg')
		h3 3. Sorting out hair by lengths
		p One of the mandatory operlations is sorting out hair by lengths.
		p If you pay a close attention our pre-bonded strands have the so-called dense ends,  Hence, if we say that our hair has 50-55 cm length it means that the density on the hair ends will be almost the same as on the top. Some manufacturers selling hair in bundles name one length but in fact they add 50% of less length hair into their bundles. It can be checked if we fold the bundle closer to the root base. If there are too many short hairs  they will stick out from the middle of the bundle.
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_460
				a(href='').modal
					img(src='/assets/images/about/manufacturing/5.jpg')
			.block-wrap__item.block-wrap__item_460
				a(href='').modal
					img(src='/assets/images/about/manufacturing/6.jpg')
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_620
				h3 4. Quality control at the finished product stage
				p Our specialists check the final product quality visually and manually. If there is even the least possibility of “reversed” hairs in the bundle it is being discarded. Is is this reversed hair which leads to excessive tangibility of hair.]
				.block-wrap
					.block-wrap__item.block-wrap__item_300
						a(href='').modal
							img(src='/assets/images/about/manufacturing/7.jpg')
					.block-wrap__item.block-wrap__item_300
						a(href='').modal
							img(src='/assets/images/about/manufacturing/8.jpg')
					
			.block-wrap__item.block-wrap__item_300.block-marked.manufackturing-sertificate
				p We have voluntarily received the certificate in the Russian Federal Sanitary Control Service to confirm our quality.
					img(src='/assets/images/about/manufacturing/sertificate.jpg')
		h2 Look what we produce hair
		ul.block-wrap.block-wrap_margin-bottom-50
			li.block-wrap__item.block-wrap__item_300.main-products__item
				figure
					img(src='/assets/images/main/russian-slavic-hair-in-bulk.jpg' alt='')
					figcaption
						a(href='') Russian slavic hair in bulk
			li.block-wrap__item.block-wrap__item_300.main-products__item
				figure
					img(src='/assets/images/main/russian-slavic-hair-pre-bonded.jpg' alt='')
					figcaption
						a(href='') Russian slavic hair pre-bonded
			li.block-wrap__item.block-wrap__item_300.main-products__item
				figure
					img(src='/assets/images/main/russian-slavic-tape-hair.jpg' alt='')
					figcaption
						a(href='') Russian slavic tape hair
		.block-marked-light.block-wrap_margin-bottom-50
			.block-marked-light__title Still have questions about the production of the Slavic Hair Extensions?
			.block-wrap
				.block-wrap__item.block-wrap__item_440
					b Write to our mail: market@russian-hair.org
				.block-wrap__item.block-wrap__item_440
					b or enter a question in the 
						a(href='contacts.html') feedback form
		+more-info