.content
	.container
		.block-wrap.block-wrap_margin-bottom-50
			.block-wrap__item.block-wrap__item_620
				h1 Страница не найдена
				p Упс, вы перешли на несуществующую страницу. Причиной может быть ошибка при наборе адреса страницы или страница больше не существует.
				p.font-big
					strong Не расстраивайтесь, мы специально для вас отобрали интересные страницы сайта
				ul.more-info__list
					li
						a(href='manufacturing.html') Как мы производим продукцию 
					li
						a(href='wholesale.html') Предложение о сотрудничестве, скидка до 35% процентов на оптовую покупку
					li
						a(href='products.html') Ассортимент славянских волос
					li
						a(href='reviews.html') Истории клиентов