.contacts-block
	&__item
		position relative
		margin-bottom 25px
		padding-left 28px
		line-height 22px
		&::before
			margin-right 12px
			display block
			float left
		&_address
			padding-left 0
			display flex
			align-items center
			font-size 16px
			&::before
				width 15px
				height 20px
				content ''
				background-image url(../images/sprite-icons-s3a799e8e1c.png)
				background-repeat no-repeat
				background-position 0 -52px
		&_mail
			padding-left 0
			display flex
			align-items center
			&::before
				width 15px
				height 10px
				content ''
				background-image url(../images/sprite-icons-s3a799e8e1c.png)
				background-repeat no-repeat
				background-position 0 -27px
		&_skype
			padding-left 0
			display flex
			align-items center
			&::before
				width 16px
				height 16px
				content ''
				background-image url(../images/sprite-icons-s3a799e8e1c.png)
				background-repeat no-repeat
				background-position 0 -72px
		&_video
			padding-left 0
	&__clarification
		font-size 12px
	&__instagram
	&__facebook
		a
			padding-left 0
			&::before
				content none
		&::before
			margin-right 4px
			display inline-block
			content ''
			vertical-align top
	&__instagram::before
		sprite $instcont
	&__facebook::before
		sprite $fbcont
