.content
	.container
		h1 Contact
		.block-wrap
			.block-wrap__item.block-wrap__item_540.contacts-block
				.contacts-block__item.contacts-block__item_address
					div
						strong 196084, Russia, St. Petersburg<br>
						| Nab. Obvodnogo kanala, 108, Volosy 24 Ltd.
				.contacts-block__item.contacts-block__item_mail
					div market@russian-hair.org
				.contacts-block__item.contacts-block__item_skype
					div russian-hair.org
						.contacts-block__clarification from 10:00 am till 9:00 pm daily (UTC+3 MSK)
				.contacts-block__item
					h2 In Russian
					| 8 (961) 809-41-88 (viber, whatsapp)<br>+7 (812) 425-67-68
					.contacts-block__clarification from 10:00 am till 9:00 pm daily (UTC+3 MSK)
					.contacts-block__instagram
						a(href='https://www.instagram.com/volosy_24_prodaja_volos/' target='_blank') instagram
				.contacts-block__item
					h2 In English
					| e-mail: market@russian-hair.org<br>skype: russian-hair
					.contacts-block__clarification from 10 am till 9 pm daily (UTC+3 msk)
					.contacts-block__facebook
						a(href='https://www.facebook.com/olga.hair.946' target='_blank') facebook
				.contacts-block__item
					strong Please, fill in the feedback form
					| <br>Please, specify the time of call convenient for you (and city as well to take into account the time difference)
					| <br>Our English speaking manager will contact you for details
			.block-wrap__item.block-wrap__item_380
				form.form-contact
					h2 Contact form
					label(for='form-contact__name') Name
					.form-input
						input#form-contact__name(type='text')
					label(for='form-contact__mail') E-mail
					.form-input
						input#form-contact__mail(type='email')
					label(for='form-contact__phone') Phone
					.form-input
						input#form-contact__phone(type='tel')
					label(for='form-contact__message') Message
					.form-input
						textarea#form-contact__message
					.block-wrap.block-wrap_justify-flex-end
						.block-wrap__item.block-wrap__item_200
							input(type='submit' value='Sent')
		+more-info
