.faq-item
	margin-bottom 25px
	.faq-item__switch
		display inline-block
		cursor pointer
		border-bottom 1px dotted
		transition color .2s
		&:hover
		&:focus
			color #b0986e
		&:active
			color #828282
	&__body
		padding 20px
		display none
		p:last-child
			margin-bottom 0