.content
	.container
		h1 FAQ
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p Here we collected the most frequently asked questions from our wholesale clients.
				.faq-item
					.faq-item__switch What discounts can you offer?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch What countries do you send your orders to?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch How big is your company?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch Average delivery dates
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch What is your MOQ?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch I do not need a wholesale order, can I buy extensions for myself?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch Is the order shipment insured?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				.faq-item
					.faq-item__switch How quickly the order can be shipped?
					.faq-item__body
						p Our wholesale discounts depend on the size of your order:
							| <br>When ordering for and more $1000 - you get a 25% discount (in fact you pay $750)
							| <br>From $2310 - you get a 30% discount (in fact you pay $1617)
							| <br>From $3080 - you get a 35% discount (in fact you pay $2002).
				p
					strong Не нашли ответ?
						| <br>Напишите нам свой вопрос на почту: market@russian-hair.org
			.block-wrap__item.block-wrap__item_300
				.how-to-order__download.block-marked
					p
						strong Download sample wholesale order<br>
						a(href='') Download
		+more-info
			