
.content
	.container
		h1 Sertificates
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_460
				p Volosy 24 ltd. is one of the few companies holding an expert resolution  issued by the Federal State Sanitary Control Committee on human hair products, wigs, hair pieces, hair extension strands which we produce and sell. This document confirms that our products comply with all the necessary sanitary norms and standards.
			.block-wrap__item.block-wrap__item_140
				a(href='/assets/images/sertificates/1.jpg').modal
					img(src='/assets/images/sertificates/1.jpg')
			.block-wrap__item.block-wrap__item_140
				a(href='/assets/images/sertificates/2.jpg').modal
					img(src='/assets/images/sertificates/2.jpg')
			.block-wrap__item.block-wrap__item_140
				a(href='/assets/images/sertificates/3.jpg').modal
					img(src='/assets/images/sertificates/3.jpg')
		.block-wrap.block-wrap_margin-bottom-50
			.block-wrap__item.block-wrap__item_380
				a(href='/assets/images/sertificates/4.jpg').modal
					img(src='/assets/images/sertificates/4.jpg')
			.block-wrap__item.block-wrap__item_540
				h2 Compliance declaration on keratin glue
				p This declaration was received on the territory of the Russian Federation based on the Material Safety Data Sheet issued by the Italian producer. This product is absolutely safe for human hair and skin.
		+more-info