.content
	.container
		h1 Warranty
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				h2 Product quality
				p All the hair for wig making and hair extensions sold by our sales office Volosy 24 Ltd. are processed and colored at our 
					a(href='') own production 
					|  in St. Petersburg, Russia. Hence, as a manufacturer, we control that everything is done in compliance with international quality standards and are responsible for quality
				p.marked We use only 100% human hair.
				p If all the necessary care procedures are followed our product can serve you for a long time (from 6 to 12 months) and you will always be satisfied with its quality.
				h2 Product return policy
				p According to the Russian legislation human hair and hair products are considered to be products of personal usage (hygiene) and are therefore not subject to exchange and return.
				p The list of non-food products of the proper quality was accepted and confirmed by Decree №55 of the RF Government as of 19.01.1998. Objects of personal hygiene (tooth brushes, combs,  hair curlers, hairpins, wigs, hair pieces and other similar products).
			.block-wrap__item.block-wrap__item_300
				p Expert opinion issued by the Federal Service for Supervision of Consumer Rights Protection, on products from natural hair, lining, locks for extension and wigs, manufacture and sale of which we are engaged.
				p
					img(src='/assets/images/sertificates/1.jpg')
				p
					a(href='sertificates.html') Look at all the quality certifications
		p
			strong Delivery guarantee
			|  - we work with reliable international
			a(href='delivery.html') shipment companies
		.block-wrap.block-wrap_margin-bottom-50
			.block-wrap__item.block-wrap__item_172
				img(src='/assets/images/delivery/ups.png' alt='')
			.block-wrap__item.block-wrap__item_172
				img(src='/assets/images/delivery/fedex.png' alt='')
			.block-wrap__item.block-wrap__item_172
				img(src='/assets/images/delivery/ems.png' alt='')
			.block-wrap__item.block-wrap__item_172
				img(src='/assets/images/delivery/cse.png' alt='')
			.block-wrap__item.block-wrap__item_172
				img(src='/assets/images/delivery/dhl.png' alt='')
		+more-info