extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var aboutPage = true;
	- var aboutCategory = true;
block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/about/about