extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var dutiesAndTaxesPage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/duties-and-taxes/duties-and-taxes