extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	include ../blocks/main-top/main-top
	include ../blocks/main-products/main-products
	include ../blocks/main-description/main-description
