
extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var orderTrackingPage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/order-result/order-result