extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var paymentPage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/payment/payment