extends /blocks/layout-default/layout-default

block head

block content
	include ../blocks/breadcrumbs/breadcrumbs
	.content
		.container
			.price-block.price-block-render(data-pricename='hairInBundles')
			.price-block.price-block-render(data-pricename='hairKeratin')
			.price-block.price-block-render(data-pricename='hairTape')