extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var pricePage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/price/price