extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var productDetailPage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/product-detail/product-detail