
extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';
	- var productGuidePage = true;

block content
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/product-guide/product-guide