.content
	.container
		h1 Customer service
		p.font-big
			strong Choose a question
		.block-wrap.block-wrap_margin-bottom-50
			.block-wrap__item.block-wrap__item_460
				ul.customer-menu
					li
						a(href='howtoorder.html') How to order
					li
						a(href='delivery.html') Delivery information
					li
						a(href='payment.html') Payment Security Information
					li
						a(href='warranty.html') Product Warranty
					li
						a(href='faq.html') FAQ
					li
						a(href='duties-and-taxes.html') Duties and Taxes
					li
						a(href='order-tracking.html') Order tracking
					li
						a(href='manufacturing.html') Manufacturing
					li
						a(href='reviews.html') Reviews
					li
						a(href='sertificates.html') Sertificates
			.block-wrap__item.block-wrap__item_460
				p.font-big Не нашли ответ на интересующий вопрос?<br>Отправьте нам письмо:
					strong market@russian-hair.org