mixin more-info()
	.block-wrap.block-wrap_margin-bottom-50.more-info
		.block-wrap__item.block-wrap__item_460
			h2 What's more?
			ul.more-info__list
				if productGuidePage
					li
						a(href='warranty.html') Guarantees for products 
					li
						a(href='manufacturing.html') As we produce products
					li
						a(href='sertificates.html') Сертификаты на волосы для наращивания
				if pricePage
					li
						a(href='wholesale.html') Как начать покупать у нас волосы по оптовым ценам?
					li
						a(href='duties-and-taxes.html') Duties and Taxes 
					li
						a(href='manufacturing.html') As we produce products
				if reviewsPage
					li
						a(href='wholesale.html') Как начать покупать у нас волосы по оптовым ценам?
					li
						a(href='about.html') Рассказываем о том как работаем
					li
						a(href='manufacturing.html') As we produce products
				if warrantyPage
					li
						a(href='contacts.html') Ask about the warranty on the "contacts" page
					li
						a(href='wholesale.html') Cooperation offer
					li
						a(href='manufacturing.html') As we produce products
				if orderTrackingPage
					li
						a(href='payment.html') Способы оплаты заказа 
					li
						a(href='order-tracking.html') Отслеживание заказа
					li
						a(href='delivery.html') Варианты доставки
				if howtoorderPage
					li
						a(href='delivery.html') Delivery
					li
						a(href='payment.html') How to pay?
				if contactsPage
					li
						a(href='wholesale.html') Become a wholesale
					li
						a(href='manufacturing.html') Славянские волосы для наращивания
					li
						a(href='products.html') Как мы производим волосы для наращивания
				if paymentPage
					li
						a(href='duties-and-taxes.html') Duties and Taxes 
					li
						a(href='price.html') Prices for the products
					li
						a(href='order-tracking.html') Order tracking
				if dutiesAndTaxesPage
					li
						a(href='payment.html') Payment 
					li
						a(href='deliver.html') Delivery
					li
						a(href='order-tracking.html') Order tracking
				if deliveryPage
					li
						a(href='payment.html') Payment 
					li
						a(href='order-tracking.html') Order tracking
				if aboutCategory
					if !aboutPage
						li
							a(href='wholesale.html') Become a wholesale
					if !manufacturingPage
						li
							a(href='manufacturing.html') Как мы производим продукцию
					li
						a(href='reviews.html') Отзывы оптовых клиентов
					if !sertificatesPage
						li
							a(href='sertificates.html') Сертификаты на волосы для наращивания
				if faqPage
					li
						a(href='wholesale.html') Become a wholesale
					li
						a(href='about.html') Рассказываем о том как работаем
					li
						a(href='manufacturing.html') Как мы производим продукцию
		.block-wrap__item.block-wrap__item_460
			+form-condition-for-wholesale