.content
	.container
		h1 Order tracking
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p You can track the order through the web-site of the shipment company with which we sent your order. When finalizing the order we will let you know the name of your shipment company and unique tracking number of your shipment. Please, go to the web-site of the shipment company and find out the status of your shipment there.
				p If you do not have the tracking number, please, write us to 
					a(href='mailto:market@russian-hair.org') market@russian-hair.org
					|  from the address from which you made your order (for security reasons) and we will send you the tracking number.
				h2 Проверьте статус посылки через транспортные компании
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/ups.png' alt='')
					.delivery-row__text
						h3 UPS
						a(href='https://wwwapps.ups.com/ctc/request?loc=en_RU&WT.svl=PNRO_L1' target='_blank') english language
						a(href='https://wwwapps.ups.com/ctc/request?loc=ru_RU&WT.svl=PNRO_L1' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/fedex.png' alt='')
					.delivery-row__text
						h3 FedEx
						a(href='https://www.fedex.com/ratefinder/home?cc=ru&language=en' target='_blank') english language
						a(href='https://www.fedex.com/ratefinder/home?cc=ru&language=ru' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/ems.png' alt='')
					.delivery-row__text
						h3 EMS
						a(href='http://www.emspost.ru/ru/calc/' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/cse.png' alt='')
					.delivery-row__text
						h3 CSE
						a(href='http://www.cse.ru/sitecontent/city-mosrus/lang-eng/content/131/' target='_blank') english language
						a(href='http://www.cse.ru/sitecontent/city-mosrus/lang-rus/content/131/' target='_blank') russian language
				.delivery-row
					.delivery-row__image
						img(src='/assets/images/delivery/dhl.png' alt='')
					.delivery-row__text
						h3 DHL
						a(href='https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions' target='_blank') english language
						a(href='https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions' target='_blank') russian language
		+more-info