.contacts-gallery
  margin-right -8px
  margin-left -8px
  margin-bottom 24px
  display flex
  flex-wrap wrap
  &__item
    margin 8px
    &_wide
      flex-basis 100%
    img
      margin 0
      padding 5px
      display block
      max-width 100%
      height 242px
      border 1px solid #DAB686
      border-radius 5px
      transition box-shadow .2s
    a:hover img
      box-shadow 0 0 3px #666
