.content
	.container
		h1 Become a wholesale
		.block-wrap.wholesale-block
			.block-wrap__item.block-wrap__item_620
				p Your business and/or professional activity is related to hair extensions or wig making? Welcome to purchase from us at wholesale prices.
				h3 Choose natural human hair for extensions
				p All the stages of production process are in compliance with international standards.<br>Our products do not contain silicone-based products and reversed hairs. All the extensions are 100% human hair. We hold a state sanitary expert resolution for our hair products.
				h3 Buy directly from the manufacturer
				p Our prices are more flexible than those from mediators
				h3 50000 pcs of products  are always available in our warehouse
				p Rich selection of shades: 47<br>Wide assortment of lengths: up to 80 cm
				h3 Wholesale discounts up to 35%
				.block-wrap
					.block-wrap__item.block-wrap__item_380
						ul.list-marked
							li Buying for 1000$* – 25% discount
							li Buying for 2310$* – 30% discount
							li Buying for 3080$* – 35% discount
					.block-wrap__item.block-wrap__item_200
						p You can see all the wholesale prices in the 
							a(href='') Prices section
			.block-wrap__item.block-wrap__item_300
				img(src='/assets/images/wholesale/leytes.jpg' alt='')
		.block-wrap.wholesale-block
			.block-wrap__item.block-wrap__item_300
				h2 How to become a wholesaler
				h3 If you are certain about your order.
				p You can attach a file with the list of producs you want to order. You can do it in a free format. For your convenience we have prepared a 
					a(href='') sample form
					|  which has a list of products, lengths, colors, etc.
				h3 If you want to find out some details about cooperation or make a trial order
				p To start with you can order a 
					a(href='') free sample
					| . Please, write all your questions about cooperation in “Comments”
					p Specify the language preferable for your for communication in “Comments”. Our manager can speak Russian, English, French. In writing we can also do it in Spanish. In any case Google translation works well:)
			.block-wrap__item.block-wrap__item_620
				+wholesale-form()