mixin form-condition-for-wholesale()
	form.form-condition-for-wholesale
		h2 Find out the conditions for wholesale customers
		p Send wholesale prices, the conditions for procurement volumes
		.block-wrap.block-wrap_align-flex-end.block-wrap_margin-bottom-12
			.block-wrap__item.block-wrap__item_240
				label(for='about-form__email') E-mail
				.form-input
					input(type='text')#about-form__email
			.block-wrap__item.block-wrap__item_160
				input(type='submit' value='Get')
		.block-wrap.block-wrap_justify-flex-end
			.block-wrap__item or 
				a(href='wholesale.html') fill out a detailed application form