.header-main
	background-color #fff
	&__inner
		margin-left 71px
		padding-top 35px
		padding-left 120px
		padding-bottom 12px
		display flex
		flex 0 0 191px
		border-bottom 1px solid #c1bfbf
	&__logo
		position relative
		&::before
			position absolute
			top -23px
			right 0
			display block
			content ''
			sprite $logo
	&__center
		flex 1 1 auto
		padding-x(28px)
	&__lang-switch
		margin-bottom 12px
		color #b0b0b0
	&__title
		font-size 22px
		color #b1243f
	&__right
		display flex
		flex-direction column
		text-align center
		.btn
			margin-bottom 6px