section.main-products
	ul.container.main-products__list
		li.main-products__item
			a(href='')
				figure
					img(src='/assets/images/main/russian-slavic-hair-in-bulk.jpg' alt='')
					figcaption Russian slavic hair in bulk
		li.main-products__item
			a(href='')
				figure
					img(src='/assets/images/main/russian-slavic-hair-pre-bonded.jpg' alt='')
					figcaption Russian slavic hair pre-bonded
		li.main-products__item
			a(href='') 
				figure
					img(src='/assets/images/main/russian-slavic-tape-hair.jpg' alt='')
					figcaption Russian slavic tape hair