.main-products
	padding-top 27px
	padding-bottom 48px
	display flex
	justify-content center
	background-color #fff
	&__list
		display flex
	&__item
		flex 1 0 calc(100%/3 - 28px)
		margin-right 19px
		&:last-child
			margin-right 0
		img
			margin-bottom 12px
			padding 8px
			width 100%
			border 1px solid #bdbec0
			transition box-shadow .2s
		figcaption
			font-size 18px
			text-align center
			color #000
			transition color .2s
		&:hover
			img
				box-shadow 0 0 5px #bdbec0
			figcaption
				color #998d78