section.main-description
	.container
		.main-description__inner
			.main-description__left
				h1 Russian-hair.org (Volosy 24 Ltd.) - wholesaler of human hair for extensions
				p Natural hair extensions is our passion. We are really obsessed with this business. We just love everything about it.
				p To follow and control every stage of manufacturing, constantly improve bleaching and coloring processes, use every opportunity to increase the wearing time of our extensions.
				p We love holding training and seminars for colleagues and hairdressers, constantly learn ourselves, try to find out novelties in the area of extensions and coloring technologies (even abroad).
				p We love opening new extensions studios, give advice as to the selection of tools and materials for clients, which of them will serve better and longer. We really appreciate that our clients  seek our advice on decorating their extensions studios and client service.
				p We work with retail clients as well .We have hair extensions technologists working in our studio in St. Petersburg. We adore seeing how appearance of our clients completely changes within a couple of hours under the hands of our specialists. The most valuable thing in our work is a happy client who really loves long natural hair fully matching her own hair.
				p My name is <b>Olga Leytes. I've been a General Director of Volosy 24 Ltd, since 2008.</b> I can speak about hair for extensions for hours. If you are also interested in this business you are welcome to our web-site where you will find answers to all your questions as 
					a(href='') to how natural human hair is selected
					| , bleached and colored, what 
					a(href='') types of extensions exist
					|  and what it means when the hair quality is confirmed by the
					a(href='') certificate.
			.main-description__right
				h2 Become a wholesale
				p If you have your own hair extensions studio or you are an extensions technologist, beauty products distributor, salon of wigs we can offer you to become a wholesaler of human hair for extensions.
				p Our products are used outside of Russia - in Estonia, Latvia, France, Finland, Germany, Kazakhstan, Great Britain, Check Republic, USA, UAE.
				p Try our hair extensions and your clients will love it and will continue coming back to you again and again.
				a.btn(href='') Become a wholesaler