.main-description
	padding-bottom 96px
	display flex
	justify-content center
	background-color #fff
	h1 
		font-size 23px
	&__inner
		display flex
	&__left
		flex 0 0 530px
	&__right
		margin-left 30px
		padding 30px 25px 46px
		flex 0 0 380px
		align-self flex-start
		border 10px solid
		border-image-source url('/assets/images/border.png')
		border-image-slice 10 fill
		border-image-repeat repeat stretch
		h2
			font-size 18px
			text-align center
			color #b0986e
		.btn
			padding-top 12px
			padding-bottom 13px
			width 100%
			font-size 16px