head
	meta(charset='utf-8')
	block head
	title= 'russian-hair.org'
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	
	link(href='/assets/styles/app.min.css' rel='stylesheet')
