.footer-main
	padding-y(10px)
	background-color #f7f7f7
	&__block
		padding-top 12px
		h2
			margin-bottom 20px
			font-size 16px
	&__logo
		margin-bottom 34px
		sprite $logofooter
		display block
	&__mail
		font-size 16px
		text-decoration none
		color #444447
		&::before
			margin-right 10px
			display inline-block
			vertical-align center
			content ''
			sprite $mail
	&__menu
		&_item
			margin-bottom 12px
	&__bottom
		padding-top 46px
		display flex
	&__copy
		margin-right 28px
	&__made-by
		margin-left 150px