footer.footer-main
	.container
		.footer-main__inner.block-wrap
			.block-wrap__item.block-wrap__item_280.footer-main__block
				a.footer-main__logo(href='/')
				a.footer-main__mail(href='mailto:market@russian-hair.org') market@russian-hair.org
			.block-wrap__item.block-wrap__item_200.footer-main__block
				h2 Products
				ul.footer-main__menu
					li.footer-main__menu_item
						a(href='') Russian slavic hair in bulk
					li.footer-main__menu_item
						a(href='') Russian slavic hair pre-boded
					li.footer-main__menu_item
						a(href='') Russian slavic tape hair
					li.footer-main__menu_item
						a(href='') Palette
			.block-wrap__item.block-wrap__item_200.footer-main__block
				h2 Customer Service
				ul.footer-main__menu
					li.footer-main__menu_item
						a(href='') Price
					li.footer-main__menu_item
						a(href='') How to order
					li.footer-main__menu_item
						a(href='') Delivery information
					li.footer-main__menu_item
						a(href='') Payment Security Infomaiion
					li.footer-main__menu_item
						a(href='') Product Warranty
					li.footer-main__menu_item
						a(href='') Duties and Taxes
					li.footer-main__menu_item
						a(href='') Order tracking
					li.footer-main__menu_item
						a(href='') FAQ
			.block-wrap__item.block-wrap__item_200.footer-main__block
				h2 Company
				ul.footer-main__menu
					li.footer-main__menu_item
						a(href='') About us
					li.footer-main__menu_item
						a(href='') Become a distributor
					li.footer-main__menu_item
						a(href='') Manufacturing
					li.footer-main__menu_item
						a(href='') Reviews
					li.footer-main__menu_item
						a(href='') Sertificates
		.footer-main__bottom
			.footer-main__copy &copy; 2015 russian-hair.org. All rights reserved.
			a.footer-main__sitemap(href='') Site map
			.footer-main__made-by
				a(href='http://krasiviemedia.ru/' target='_blank') Created by
				|  www.krasiviemedia.ru