mixin wholesale-form()
	form.wholesale-form
		h2 Become a wholesale 
		.block-wrap
			.block-wrap__item.block-wrap__item_280
				label(for='wholesale-form__name') Name
				.form-input
					input#wholesale-form__name(type='text')
		.block-wrap
			.block-wrap__item.block-wrap__item_280
				label(for='wholesale-form__mail') E-mail
				.form-input
					input#wholesale-form__mail(type='email')
			.block-wrap__item.block-wrap__item_280
				label(for='wholesale-form__phone') Phone
				.form-input
					input#wholesale-form__phone(type='tel')
		.block-wrap.block-wrap_align-baseline
			.block-wrap__item
				.form-input
					label.btn attachment
						input#wholesale-form__file(type='file')
			.block-wrap__item
				a(href='').link-dotted download sample order
		.block-wrap.block-wrap_justify-space-between
			.block-wrap__item
				label(for='wholesale-form__comments') Comments
			.block-wrap__item
				a(href='').link-dotted What write?
		.form-input
			textarea#wholesale-form__comments
		.block-wrap.block-wrap_justify-flex-end
			.block-wrap__item.block-wrap__item_200
				input(type='submit' value='Sent')
