.content
	.container
		h1 Reviews
		.block-wrap.block-wrap_margin-bottom-50.review-item.review-item_one-photo
			.block-wrap__item.block-wrap__item_300
				a(href='/assets/images/zaglooshkah.jpg').modal
					img(src='/assets/images/zaglooshkah.jpg' alt='')
			.block-wrap__item.block-wrap__item_620
				blockquote.review-item__body
					cite.review-item__header
						.review-item__name Елена Васильева
						.review-item__address Санкт-Петербург
						.review-item__occupation мастер по наращиванию волос
					.review-item__content
						p Я уже несколько лет работаю мастером по наращиванию, и качественный волос от не качественного отличаю сразу. Поэтому и отдаю предпочтение продукции компании Волосы 24. Славянский волос для моей работы идеален, никогда еще не подводил. Клиенты довольны, волос держится долго, по 5 корректировок минимум выдерживают.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		.block-wrap.block-wrap_wrap.block-wrap_margin-bottom-50.review-item.review-item_one-photo
			.block-wrap__item.block-wrap__item_940
				blockquote.review-item__body
					cite.review-item__header
						.review-item__name Елена Васильева
						.review-item__address Санкт-Петербург
						.review-item__occupation мастер по наращиванию волос
					.review-item__content
						p Я уже несколько лет работаю мастером по наращиванию, и качественный волос от не качественного отличаю сразу. Поэтому и отдаю предпочтение продукции компании Волосы 24. Славянский волос для моей работы идеален, никогда еще не подводил. Клиенты довольны, волос держится долго, по 5 корректировок минимум выдерживают.

			.block-wrap__item.block-wrap__item_300
				a(href='/assets/images/zaglooshkah.jpg').modal
					img(src='/assets/images/zaglooshkah.jpg' alt='')
			.block-wrap__item.block-wrap__item_300
				a(href='/assets/images/zaglooshkah.jpg').modal
					img(src='/assets/images/zaglooshkah.jpg' alt='')
			.block-wrap__item.block-wrap__item_300
				a(href='/assets/images/zaglooshkah.jpg').modal
					img(src='/assets/images/zaglooshkah.jpg' alt='')
		.block-wrap.block-wrap_margin-bottom-50.review-item.review-item_one-photo
			.block-wrap__item.block-wrap__item_940
				blockquote.review-item__body
					cite.review-item__header
						.review-item__name Елена Васильева
						.review-item__address Санкт-Петербург
						.review-item__occupation мастер по наращиванию волос
					.review-item__content
						p Я уже несколько лет работаю мастером по наращиванию, и качественный волос от не качественного отличаю сразу. Поэтому и отдаю предпочтение продукции компании Волосы 24. Славянский волос для моей работы идеален, никогда еще не подводил. Клиенты довольны, волос держится долго, по 5 корректировок минимум выдерживают.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		.block-wrap.block-wrap_margin-bottom-50.review-item.review-item_one-photo
			.block-wrap__item.block-wrap__item_300
				a(href='/assets/images/zaglooshkah.jpg').modal
					img(src='/assets/images/zaglooshkah.jpg' alt='')
			.block-wrap__item.block-wrap__item_620
				blockquote.review-item__body
					cite.review-item__header
						.review-item__name Елена Васильева
						.review-item__address Санкт-Петербург
						.review-item__occupation мастер по наращиванию волос
					.review-item__content
						p Я уже несколько лет работаю мастером по наращиванию, и качественный волос от не качественного отличаю сразу. Поэтому и отдаю предпочтение продукции компании Волосы 24. Славянский волос для моей работы идеален, никогда еще не подводил. Клиенты довольны, волос держится долго, по 5 корректировок минимум выдерживают.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		.block-marked-light.block-wrap_margin-bottom-50
			.block-marked-light__title Работаете с нами и хотите рассказать о своих впечатлениях?
			.block-wrap
				.block-wrap__item.block-wrap__item_440
					b Пишите на нашу почту: reklama@russian-hair.org
				.block-wrap__item.block-wrap__item_440
					b или напишите отзыв в форме
						a(href='contacts.html') обратной связи.
		+more-info