.review-item
	&__header
		margin-bottom 7px
		display block
		line-height 22px
	&__name
		font-weight 700
	&__name
	&__address
	&__occupation
		display block
	.block-wrap__item_620
		flex-basis 100%
	.block-wrap__item_300 + .block-wrap__item_620
		flex-basis 620px
