.main-top
	#parallax
		img(src='/assets/images/parallax.jpg' alt='')
	.container
		.main-top__inner
			.main-top__image
				img(src='/assets/images/main-top-image.png')
			.main-top__title 
				a(href='') Produce
				|  and
				a(href='') sell
				| <br>Slavic hair for extensions
	script
		| 'use strict';
		| 
		| const parallax = () => {
		| 	const ypos = window.pageYOffset;
		| 	const par = document.getElementById('parallax');
		| 	par.style.transform = 'translateY(-' + ypos * 0.4 + 'px)';
		| };
		| window.addEventListener('scroll', parallax);