.main-top
	width 100%
	min-width 940px

	display flex
	justify-content center
	background-color rgba(255, 255, 255, .87)
	&__inner
		display flex
		align-items center
	&__title
		font-size 36px
		line-height 50px
		text-shadow 0 0 10px #fff
	#parallax
		position fixed
		z-index -1
		top 0
		left 0
		width 100vw
		will-change transform
		img
			max-width none
			min-width 100%
			