.content
	.container
		h1 Price
		p.font-big
			strong Prices for wholesale buyers
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p For wholesale buyers we have developed the discount system. Depending on the amount of purchase we provide discounts 25%, 30% and 35%.
				p.marked When buying for $1000 - 25% discount
				p For your convenience please, download our pricelist for wholesalers where you can see in one document all the discount options.
				h2 Hair in bundles
				.price-block
					.price-block__currencies
						span Select currency:
						ul.price-block__currencies-list
							li.price-block__currency-title(data-currency='euro') €
								span Euro
								|  (EUR)
							li.price-block__currency-title(data-currency='dollar') $
								span Dollar
								|  (USD)
					table.price-block__currency-table(data-currency='euro')
						tr
							td
							td 
							td(colspan='3') Цены для оптовиков
						tr
							td Length, cm (inch)
							td EUR, price for 100 gr
							td EUR, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 140 €
							td 112 €
						tr
							td 45 cm<br>(18” inch)
							td 147 €
							td 118 €
						tr
							td 50 cm<br>(20” inch)
							td 155 €
							td 124 €
						tr
							td 55 cm<br>(22” inch)
							td 171 €
							td 137 €
						tr
							td 60 cm (24” inch)<br>dark colors
							td 185 €
							td 148 €
						tr
							td 60 cm (24” inch)<br>light colors
							td 191 €
							td 153 €
						tr
							td 65 cm (26” inch)<br>dark colors
							td 190 €
							td 152 €
						tr
							td 65 cm (26” inch)<br>light colors
							td 196 €
							td 157 €
						tr
							td 70 cm (28” inch)<br>dark colors
							td 215 €
							td 172 €
						tr
							td 70 cm (28” inch)<br>light colors
							td 222 €
							td 178 €
						tr
							td 75 cm (30” inch)<br>dark colors
							td 220 €
							td 176 €
						tr
							td 75 cm (30” inch)<br>light colors
							td 227 €
							td 182 €
						tr
							td 80 cm (32” inch)<br>dark colors
							td 225 €
							td 180 €
						tr
							td 80 cm (32” inch)<br>light colors
							td 232 €
							td 186 €
						tr
							td 85 cm (34” inch)<br>dark colors
							td 231 €
							td 185 €
						tr
							td 85 cm (34” inch)<br>light colors
							td 238 €
							td 190 €
					table.price-block__currency-table(data-currency='dollar')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td USD, price for 100 gr
							td USD, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 149 $
							td 119 $
						tr
							td 45 cm<br>(18” inch)
							td 156 $
							td 125 $
						tr
							td 50 cm<br>(20” inch)
							td 165 $
							td 132 $
						tr
							td 55 cm<br>(22” inch)
							td 181 $
							td 145 $
						tr
							td 60 cm (24” inch)<br>dark colors
							td 196 $
							td 157 $
						tr
							td 60 cm (24” inch)<br>light colors
							td 203 $
							td 162 $
						tr
							td 65 cm (26” inch)<br>dark colors
							td 201 $
							td 161 $
						tr
							td 65 cm (26” inch)<br>light colors
							td 208 $
							td 166 $
						tr
							td 70 cm (28” inch)<br>dark colors
							td 228 $
							td 182 $
						tr
							td 70 cm (28” inch)<br>light colors
							td 236 $
							td 189 $
						tr
							td 75 cm (30” inch)<br>dark colors
							td 234 $
							td 187 $
						tr
							td 75 cm (30” inch)<br>light colors
							td 241 $
							td 193 $
						tr
							td 80 cm (32” inch)<br>dark colors
							td 239 $
							td 191 $
						tr
							td 80 cm (32” inch)<br>light colors
							td 247 $
							td 198 $
						tr
							td 85 cm (34” inch)<br>dark colors
							td 245 $
							td 196 $
						tr
							td 85 cm (34” inch)<br>light colors
							td 252 $
							td 202 $
				h2 Keratin pre-bonded hair
				.price-block
					.price-block__currencies
						span Select currency:
						ul.price-block__currencies-list
							li.price-block__currency-title(data-currency='euro') €
								span Euro
								|  (EUR)
							li.price-block__currency-title(data-currency='dollar') $
								span Dollar
								|  (USD)
					table.price-block__currency-table(data-currency='euro')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td EUR, price for 100 gr
							td EUR, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 1.2 €
							td 0.9 €
						tr
							td 45 cm<br>(18” inch)
							td 1.3 €
							td 1 €
						tr
							td 50 cm<br>(20” inch)
							td 1.4 €
							td 1.1 €
						tr
							td 55 cm<br>(22” inch)
							td 1.5 €
							td 1.2 €
						tr
							td 60 cm<br>(24” inch)
							td 1.6 €
							td 1.3 €
						tr
							td 65 cm<br>(26” inch)
							td 1.7 €
							td 1.4 €
						tr
							td 70 cm<br>(28” inch)
							td 1.8 €
							td 1.5 €
						tr
							td 75 cm<br>(30” inch)
							td 1.9 €
							td 1.6 €
						tr
							td 80 cm<br>(32” inch)
							td 2 €
							td 1.7 €
						tr
							td 85 cm<br>(34” inch)
							td 2.1 €
							td 1.8 €
					table.price-block__currency-table(data-currency='dollar')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td USD, price for 100 gr
							td USD, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 1.3 $
							td 1 $
						tr
							td 45 cm<br>(18” inch)
							td 1.4 $
							td 1.1 $
						tr
							td 50 cm<br>(20” inch)
							td 1.5 $
							td 1.2 $
						tr
							td 55 cm<br>(22” inch)
							td 1.6 $
							td 1.3 $
						tr
							td 60 cm<br>(24” inch)
							td 1.7 $
							td 1.4 $
						tr
							td 65 cm<br>(26” inch)
							td 1.8 $
							td 1.5 $
						tr
							td 70 cm<br>(28” inch)
							td 1.9 $
							td 1.6 $
						tr
							td 75 cm<br>(30” inch)
							td 2 $
							td 1.7 $
						tr
							td 80 cm<br>(32” inch)
							td 2.1 $
							td 1.8 $
						tr
							td 85 cm<br>(34” inch)
							td 2.2 $
							td 1.9 $
				h2 Tape hair
				.price-block
					.price-block__currencies
						span Select currency:
						ul.price-block__currencies-list
							li.price-block__currency-title(data-currency='euro') €
								span Euro
								|  (EUR)
							li.price-block__currency-title(data-currency='dollar') $
								span Dollar
								|  (USD)
					table.price-block__currency-table(data-currency='euro')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td EUR, price for 100 gr
							td EUR, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 42 €
							td 34 €
						tr
							td 45 cm<br>(18” inch)
							td 43 €
							td 35 €
						tr
							td 50 cm<br>(20” inch)
							td 48 €
							td 38 €
						tr
							td 55 cm<br>(22” inch)
							td 51 €
							td 41 €
						tr
							td 60 cm (24” inch)<br>dark colors
							td 53 €
							td 42 €
						tr
							td 60 cm (24” inch)<br>light colors
							td 54 €
							td 43 €
					table.price-block__currency-table(data-currency='dollar')
						tr
							td
							td 
							td Цены для оптовиков
						tr
							td Length, cm (inch)
							td USD, price for 100 gr
							td USD, price for 100 gr<br>
								strong discount 20%
						tr
							td 40 cm<br>(16” inch)
							td 44 $
							td 35 $
						tr
							td 45 cm<br>(18” inch)
							td 46 $
							td 37 $
						tr
							td 50 cm<br>(20” inch)
							td 51 $
							td 41 $
						tr
							td 55 cm<br>(22” inch)
							td 54 $
							td 43 $
						tr
							td 60 cm (24” inch)<br>dark colors
							td 56 $
							td 45 $
						tr
							td 60 cm (24” inch)<br>light colors
							td 58 $
							td 46 $
			.block-wrap__item.block-wrap__item_300
				form.price-form
					p.font-big
						strong Save the wholesale price of all goods to the mail
					label(for='price-form__email') E-mail
					.form-input
						input(type='text')#price-form__email
					input(type='submit' value='Get')
					
		+more-info
