.price-block
	&__currencies
		display flex
		width 100%
		justify-content flex-end
		align-items baseline
		&-list
			margin-bottom 12px
			display flex
	&__currency-title
		margin-left 8px
		font-size 18px
		cursor pointer
		color #c6bdaf
		border-bottom 1px dotted
		span
			color #b0986e
		&_current
			cursor default
			color #bdbec0
			border-bottom none
			span
				color #444447
	&__currency-table
		margin-bottom 50px
		display none
		width 100%
		text-align center
		&:first-of-type
			display table
		td
			padding 10px
			width calc(100% / 3)
			&:nth-of-type(3)
				background-color #eee3c7
		tr:not(:first-of-type):not(:nth-of-type(2))
			td:nth-of-type(2)
			td:nth-of-type(3)
				font-size 16px
		tr:not(:first-of-type)
			td
				border-top 1px solid #abaaaa
				border-bottom 1px solid #abaaaa
				&:first-of-type
					border-left 1px solid #abaaaa
					border-right 1px solid #abaaaa
.price-form .form-input
	margin-bottom 25px