.content
	.container
		p.font-big
			strong Your application for wholsale purchase order  has been sent
		.block-wrap
			.block-wrap__item.block-wrap__item_620
				p
					strong We will answer you within 3 hours.<br>
					| Our working hours: daily from 10 am till 9 pm (UTC +3 MSK).  If you send the application during our non-working hours we will answer you the next working days.
				p
					strong If you want to contact us
					|  before getting a response please, refer to your number of application
				table.contacts-table
					tr
						td Tel., Viber, Whatsapp:
						td 
							strong +7 (812) 612-49-22<br>
							| Russian-speaking operator
					tr
						td E-mail:
						td market@russian-hair.org
					tr
						td Skype
						td russian-hair
				p Thank you for contacting us. Soon you will become our loyal customer.
		.block-wrap.block-wrap_margin-bottom-50.more-info
			.block-wrap__item.block-wrap__item_460
				h2 What's more?
				ul.more-info__list
					li
						a(href='reviews.html') Stories wholesale customer
					li
						a(href='manufacturing.html') How we produce products
