.content
	.container
		h1 Product guide
		.block-wrap.block-wrap_margin-bottom-50.product-guide-block
			.block-wrap__item.block-wrap__item_380.product-guide-block__image
				a(href='product.html')
					img(src='/assets/images/zaglooshkah.jpg')
			.block-wrap__item.block-wrap__item_540.product-guide-block__description
				p.product-guide-block__title 
					a(href='product.html') Human hair in bundles
				p.font-big For making extensions and wig making 100% natural human hair
				ul.product-guide-block__features
					li Length from 40 cm to 80 cm
					li 47 shades of color
					li Structure: straight or slightly wavy
				a(href='product.html').btn Learn more
		.block-wrap.block-wrap_margin-bottom-50.product-guide-block
			.block-wrap__item.block-wrap__item_380.product-guide-block__image
				a(href='product.html')
					img(src='/assets/images/zaglooshkah.jpg')
			.block-wrap__item.block-wrap__item_540.product-guide-block__description
				p.product-guide-block__title 
					a(href='product.html') Pre-bonded keratin-based extentions
				p.font-big Hair products for Italian technology of extensions 100% human hair
				ul.product-guide-block__features
					li Length from 40 cm to 80 cm
					li 47 shades of color
					li Structure: straight or slightly wavy
				a(href='product.html').btn Learn more
		.block-wrap.block-wrap_margin-bottom-50.product-guide-block
			.block-wrap__item.block-wrap__item_380.product-guide-block__image
				a(href='product.html')
					img(src='/assets/images/zaglooshkah.jpg')
			.block-wrap__item.block-wrap__item_540.product-guide-block__description
				p.product-guide-block__title 
					a(href='product.html') Tape extensions
				p.font-big 100% human hair
				ul.product-guide-block__features
					li Length from 40 cm to 80 cm
					li 47 shades of color
					li Structure: straight or slightly wavy
				a(href='product.html').btn Learn more
		.block-wrap.block-wrap_margin-bottom-50.product-guide-block
			.block-wrap__item.block-wrap__item_380.product-guide-block__image
				a(href='product.html')
					img(src='/assets/images/zaglooshkah.jpg')
			.block-wrap__item.block-wrap__item_540.product-guide-block__description
				p.product-guide-block__title 
					a(href='product.html') Color ring
				p Professional color ring of hair color samples. Includes 47 shades. Is made of 100% human hair.
				a(href='product.html').btn Learn more
		.block-wrap.block-wrap_margin-bottom-50.product-guide-block
			.block-wrap__item.block-wrap__item_380.product-guide-block__image
				a(href='product.html')
					img(src='/assets/images/zaglooshkah.jpg')
			.block-wrap__item.block-wrap__item_540.product-guide-block__description
				p.product-guide-block__title 
					a(href='product.html') Human hair in bundles
				p Trial order set which includes different samples of our products: hair in bundle, tape extensions, pre-bonded keratin-based strands. The trial order set will help you to check the hair and bond quality.
				a(href='product.html').btn Learn more
		.block-wrap.block-wrap_margin-bottom-25
			.block-wrap__item.block-wrap__item_620
				h2 Wholesale of human hair extensions
				p We sell human hair for extensions of our own production. We offer 47 shades of hair from blond to dark colors. Length up to 80 cm. In our office you can buy extensions with a wholesale discount up to 35%.
		+more-info