
html
	font-family 'Open Sans', sans-serif
	font-size 14px
	color #444447
body
	min-width 960px
h1
	margin-bottom 1.7142rem
	font-size 2.1428rem
	font-weight 700
	color #000
h2
.h2
	margin-bottom 19px
	font-size 1.7143em
	font-weight 700
	color #000
	a
		line-height 32px
		text-decoration none
		color #000
		border-bottom 1px solid #878787
.h2-subheader
	font-size 14px
	font-weight 400
h3
.h3
	margin-bottom 7px
	font-size 18px
	font-weight 700
	color #000
h4
	margin-bottom 10px
	font-size 16px
	font-weight 700
	color #000
p
	margin-bottom 25px
	max-height 999999px
	font-size 1rem
	line-height 1.5715rem
.marked
	margin-left 20px
	padding-y(12px)
	display block
	font-size 16px
	font-weight 700
	line-height 22px
strong
	font-weight 700
ul.list-marked
	margin-bottom 25px
	padding-left 14px
	list-style disc
	li
		line-height 22px
ol.list-numbered
	margin-bottom 25px
	padding-left 14px
	list-style decimal
	li
		line-height 22px
a
	color #b0986e
	transition color .1s
	&:hover
	&:focus
		color #998d78
	&:active
		color #828282
	&[href^='#']
	&.link-dotted
		text-decoration none
		border-bottom 1px dotted
	&[href^='https://']
	&[href^='http://']:not([href='http://krasiviemedia.ru/']):not([href='http://www.medreclama.ru/']):not([href='http://www.volosy24.ru/'])
	&[href^='//']
		position relative
		padding-left 20px
		&::before
			position absolute
			top 0
			left 0
			text-decoration none
			content ''
			sprite $linkexternal
	&.modal-image
	&.image-open
		position relative
		display block
		&::before
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			content ''
			transition background-color .2s
		&:hover::before
			background-color rgba(255, 255, 255, .69)
		&::after
			position absolute
			right 4px
			bottom 4px
			content ''
			sprite $zoom
	&.facebook-link
		position relative
		padding-left 16px
		&::before
			position absolute
			top 1px
			left 0
			content ''
			sprite $fb
.btn
	padding 6px 24px
	display inline-block
	line-height 20px
	text-align center
	text-decoration none
	cursor pointer
	color #fff
	background-color #444447
	border-radius 5px
	transition background-color .2s
	&:hover
	&:focus
		color #fff
		background-color #b0986e
	&:active
		color #fff
		background-color #787777
b
	font-weight 700
img
	display block
	max-width 100%
section
	width 100%
	min-width 940px
.container
	margin-x(10px)
	flex 0 0 940px
	width 940px
.header-main
.navigation-top
.footer-main
.content
	display flex
	justify-content center
.block-wrap
	display flex
	width 100%
	&__item
		margin-right 20px
		flex-grow 0
		flex-shrink 0
		max-height 999999px
		&:last-child
			margin-right 0
		&_940
			flex-basis 940px
		&_680
			flex-basis 680px
		&_620
			flex-basis 620px
		&_540
			flex-basis 540px
		&_460
			flex-basis 460px
		&_440
			flex-basis 440px
		&_380
			flex-basis 380px
		&_364
			flex-basis 364px
		&_300
			flex-basis 300px
		&_280
			flex-basis 280px
		&_240
			flex-basis 240px
		&_220
			flex-basis 220px
		&_200
			flex-basis 200px
		&_215
			flex-basis 215px
		&_172
			flex-basis 172px
		&_160
			flex-basis 160px
		&_140
			flex-basis 140px
		&_120
			flex-basis 120px
	&_wrap
		flex-wrap wrap
	&_justify-flex-end
		justify-content flex-end
	&_justify-center
		justify-content center
	&_justify-space-around
		justify-content space-around
	&_justify-space-between
		justify-content space-between
	&_align-center
		align-items center
	&_align-baseline
		align-items baseline
	&_align-flex-start
		align-items flex-start
	&_align-flex-end
		align-items flex-end
	&-column
		flex-direction column
	&_margin-bottom-12
		margin-bottom 12px
	&_margin-bottom-25
		margin-bottom 25px
	&_margin-bottom-50
		margin-bottom 50px
.block-marked
	padding 20px
	background-color #dfd3b4
	&-light
		padding 20px
		background-color #f9ebc7
		&__title
			margin-bottom 18px
			font-size 18px
			font-weight 700
form
	padding 20px
	background-color #dfd3b4
.form-input
	margin-bottom 12px
label
	margin-bottom 5px
	display block
	color #0b0b0b
input
	&[type='text']
	&[type='tel']
	&[type='email']
		padding 6px
		display block
		width 100%
		border none
		border-radius 3px
	&[type='submit']
		padding-y(10px)
		width 100%
		font-size 16px
		border none
		@extends .btn
textarea
	padding 6px
	display block
	width 100%
	height 144px
	line-height 22px
	border none
	border-radius 3px
figcaption
	margin-top 8px
.font-big
	font-size 18px

.validation-msg 
	padding 5px 5px 7px
	display none
	font-size 13px
	color #ffffff
	background-color #ef6673
.validation-error 
	.validation-msg 
		display block
.validation-error input,
.validation-error textarea 
	border 1px solid #ef6673
	border-radius 0
.product-detail__colors_slider 
	margin 0 -27px
	padding 0 27px
	.product-detail__colors_item 
		img 
			display inline-block
			width auto
.product-detail__colors_item 
	text-align center
	&:first-of-type 
		margin-bottom 15px
.product-detail__colors_item_title 
	margin-top 4px
.block-wrap_margin-bottom-70 
	margin-bottom 70px
.flexslider 
	a 
		border-bottom none
.reviews-title 
	display flex
	align-items center
.reviews-all-reviews 
	margin-left 30px
	&:hover 
		text-decoration none
.reviews_slider-item 
	margin 0 30px
	display flex
	line-height 20px
.reviews_slider-img 
	flex 0 0 300px
	margin-right 20px
.reviews_slider-info 
	margin-bottom 10px
.review-item-img-row 
	display flex
	flex-wrap wrap
.review-item-img-wrapper 
	.block-wrap__item 
		margin-bottom 20px
.review-item__content 
	margin-bottom 25px
.map-columns 
	margin-bottom 20px
.map-level-0 
	& > li 
		margin-bottom 15px
	a 
		font-weight bold
.map-level-1 
	margin-top 8px
	margin-left 40px
	font-size 13px
	& > li 
		margin-bottom 10px
	a 
		font-weight normal
.form-condition-for-wholesale 
	input[type='submit'] 
		margin-top 15px
.popup-window-content,
.popup-window-titlebar-text 
	line-height 25px
	text-align center
.popup-window-titlebar 
	margin-top 40px
.tooltip-whatwrite 
	display flex
	width 500px !important
	justify-content space-between
	line-height 20px
.tooltip-whatwrite__item-title 
	font-weight bold
.tooltip-whatwrite-content 
	display none
.ui-tooltip-content 
	width 100%
.tooltip 
	&.link-dotted 
		margin-bottom 8px
		display block
		text-decoration none
		color #b0986e
		border-bottom 1px dotted
		&:hover 
			cursor pointer
